
	<div id="fh5co-blog-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>ブログ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="blog-inner">
						<a href="#"><img class="img-responsive" src="images/hatena.png" alt="Blog"></a>
						<div class="desc">
							<h3><a href="#">はてなブログ</a></h3>
							<p>自分の日常的なこととか、参加したイベント、何かの区切りで投稿する</p>
							<p><a href="https://unimarimo.hatenablog.com/" target="_blank"　class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
						</div>
					</div>

				</div>
				<div class="col-md-4 text-center">
					<div class="blog-inner">
						<a href="#"><img class="img-responsive" src="images/Qiita.png" alt="Blog"></a>
						<div class="desc">
							<h3><a href="#">Qiita</a></h3>
							<p>技術的なことを書くときに使用する、基本見るときしかない</p>
							<p><a href="https://qiita.com/uniuni_sea76" 　class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
						</div>
					　</div>
				　　</div>
					</div>
				</div>
			</div>

