
	<div id="fh5co-main-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Seminar materials</h2>
				</div>
			</div>
				<div class="col-md-4">
					<aside class="sidebar">
						<div class="row">
							<div class="col-md-12 side">
								<h3>materials</h3>
								<ul>
									<li><i class="icon-check"></i><a href="semihtml/20180507.html">2018hogehoge</a></li>
									<li><i class="icon-check"></i><a href="semihtml/20180507.html">2018hogehoge</a></li>
									<li><i class="icon-check"></i><a href="semihtml/20180507.html">2018hogehoge</a></li>
									<li><i class="icon-check"></i><a href="semihtml/20180507.html">2018hogehoge</a></li>
								</ul>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>

